<div class='container'>
  <h1>Create a new user</h1>
  <form role='form'>
    <div class='form-group'>
      <div class='input-group'>
        <input class='form-control' ng-model="username" placeholder="user123" />
        <input class='form-control' type="password" ng-model="password" placeholder="user123" />
        <span class='input-group-btn'>
          <button ng-click='createUser()' class='btn btn-default'>Create User</button>
        </span>
      </div>
    </div>
  </form>
  <a href="newuser">Not registered? Create an account.</a><br>
  <a href="posts">To posts!</a>
</div>
